{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}

<br>

    <br>
    <br>

    <h1 class="titulo">Rescate </h1>
    <h5 class="subtit">Etapa uno </h5>
    <br>
    <hr class="hr">
    <br>
    <h5 class="text1"> Rescatamos perros en situacion de peligro y/o abandono. Los rehabilitamos y los </h5>
    <h5 class="text2"> Preparamos para buscarles un hogar.</h5>
    <br>
    <div class="fotor"><img src="{% static 'core/img/rescate.jpg' %}" alt="perro"> </div>
    <div class="fotoc"> <img src="{% static 'core/img/crowfunding.jpg' %}" alt="comida"> </div>
    <h1 class="titulo2">Crowfunding </h1>
    <h5 class="subtit2">Financiamento</h5>
    <br>
    <hr class="hr2">
    <br>
    <h5 class="text10 "> Sigue nuestras redes sociales para informarte acerca de las diversas campañas y </h5>
    <h5 class="text11 "> actividades que realizamos para obtener finaciamento para seguir ayudando. </h5>
    <br>
    <span class="boton" style= "border-image: initial;border: 3px solid black;width: auto; padding: auto;" >Campañas</span>
    <br>
    <br>
    <br>

    

{% endblock contenido %}